.anchorPane, .rightArea, .pane{
    -fx-background-color: #ffffff;
}

.menu{
    -fx-background-color:  #EBE8F9;
}

.tab{
    -fx-background-color:  #EBE8F9;

}

.tab:hover{
    -fx-background-color:  #9C9AA6;
}

.tab:pressed{
    -fx-background-color:  #e3deff;

}

.selected{
    -fx-background-color:  #c4bce8;
}

.titlesPanel{
    -fx-background-color:  #F3F3F3;
}

.totalTickets{
    -fx-text-fill: #2A73FF;
    -fx-font-weight: bold;
}

.thisYear{
    -fx-text-fill: #26BFBC;
    -fx-font-weight: bold;
}

.thisMonth{
    -fx-text-fill: #8A42A6;
    -fx-font-weight: bold;
}

.buttonExit, .buttonBack{
    -fx-text-fill: black;
    -fx-background-color: white;
    -fx-cursor: hand;
}

.scrollablePurchasesVBox{
    -fx-background-color: white;
}

.discountAlert{
    -fx-background-color: #f55a42;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}


.btn{
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.buttonBuy, .buttonAddPicture, .buttonDeleteAccount, .buttonMinus, .buttonPlus, .buttonModify{
    -fx-text-fill: black;
    -fx-border-style: solid;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.buttonDeleteAccount{
    -fx-background-color: #E63946;
}

.buttonImage, .buttonBackToMovies{
    -fx-background-color: white;
    -fx-cursor: hand;
    -fx-text-fill: black;
    -fx-border-style: solid;
}

.buttonMovie, .buttonDiscount{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minusNotSelected, .modifyNotSelected{
    -fx-background-color: white;
    -fx-cursor: hand;
}

.minusSelected, .modifySelected{
    -fx-background-color: gray;
    -fx-cursor: hand;
}

.buttonCustomers, .buttonEmployees{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.recordSelected{
    -fx-border-style: solid;
}

.recordBtn{
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.scrollPane > .viewport {
    -fx-background: white;
}

.discountAlert{
    -fx-background-color: #f0542e;
}
